.App {
  text-align: center;
  min-height: 100vh;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body-container{
  background-color: lightgray;
  padding: 75px 100px;
  border-radius: 20px;
  color: #282c34;
  border: 2px solid #282c34;
  box-shadow: 0px 0px 50px 10px lightgray;
}

.time-container{
  font-size: 80px;
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.btn{
  background-color: rgb(192, 192, 189);
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #282c34;
}

.btn:hover:enabled{
  cursor: pointer;
  background-color: #282c34;
  color:rgb(192, 192, 189)
}

.btn:disabled{
  background-color: rgb(192, 192, 189);
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #282c34;
}